.main_wrapper{
  background:rgb(255,255,255);
  min-width:720px;
  overflow: hidden;
  padding: 11px 18px;
  border: 1px solid #dbdbdb;
  p{
    border-bottom:1px solid #dbdbdb;
    padding:5px 0;
    span{
      font-size:18px;
      border-left:2px solid #20a0ff;
      padding-left:5px;
    }
  }
  .install{
    margin:5px 0;
    h3{
      font-size:13px;
      font-weight: bold;
    }
    ul{
      list-style:disc inside;
      li{
        margin:2px 0;
        a{
          color:#20a0ff
        }
      }
    }
  }
}
