.warning{
  margin-bottom:13px
}
.main_wrapper{
    background:rgb(255,255,255);
    //min-height:400px;
    min-width:720px;
    overflow: hidden;
    .search{
      padding:20px 0;
      .name{
        margin:0 20px;
        width:200px;
      }
      .group{
        font-size:14px;
        color:rgb(0,0,0);
        margin: 0 10px;
        span{
          height:36px;
          line-height: 36px;
          margin-right:10px;
        }
        .group_select{
          width:200px;
        }
      }
      .search_btn{
        margin: 0 10px;
      }
      .add{
        margin-right:20px;
      }
    }
    .table{
      width:100%;
      table{
        width:100%;
        //position: relative;
        thead{
          font-size:14px;
          th{
            text-align:left;
            border-bottom:1px solid #dbdbdb;
            border-top:1px solid #dbdbdb;
            padding-left:20px;
            height:40px;
            font-weight: bold;
            white-space:nowrap;
          }
        }
        tbody{
          font-size:14px;
          td{
            height:44px;
            line-height: 44px;
            &:last-child{
              padding-right:20px;
            }
            &:first-child{
              padding-left:20px;
            }
            .detail{
              border-bottom:1px solid #dbdbdb;
              padding-left:20px;
              height:100%;
              &.name{
                color:rgb(0,153,204)
              }
              &.status{
                position: relative;
                .window_logo{
                  position: absolute;
                  display: inline-block;
                  height:16px;
                  width:18px;
                  background: url('../../img/window.png') no-repeat;
                  left:-10px;
                  top:14px;
                }
                .el-tag{
                  height:25px;
                  padding:0;
                  width:50px;
                  text-align: center;
                }
              }
              &.server{
                white-space: nowrap;
                .el-tag{
                  height:25px;
                  padding:0;
                  width:50px;
                  text-align: center;
                }
              }
              .progress{
                line-height:44px;
              }
              &.state{
                .bad{
                  color:#ff6d6d
                }
              }
            }
          }
        }
      }
      .pages{
        padding:12px 18px;
        text-align: right;
      }
    }
  }

